/* ----------------- */
/*     IMPORTS       */
/* ----------------- */

/* Font family: 'Josefin Sans', 'sans-serif' */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');


/* ----------------- */
/*       BODY        */
/* ----------------- */

/* General */
body {
  background-color: rgb(255, 255, 255, 0.5);
  height: 100%;
  width: 100%;
  min-width: 320px;

  font-family: "josefin sans";
}

/* ----------------- */
/*   BACKGROUND      */
/* ----------------- */

/*
.bg-canvas {
  width: 100%;
  height: 100%;
  
  position: fixed;
  top: 0;
  left: 0;

  z-index: -2;

  background-color: rgb(163, 163, 175);
}

.bg-overlay {
  width: 100%;
  height: 100%;

  z-index: -1;

  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 8.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.bubble {
  position: absolute;
  left: 0;
  top: 0;

  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}
*/

/* ----------------- */
/*   LOGO + NAVBAR   */
/* ----------------- */

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;

  position: sticky;
  top: 0;

}



/* LOGO */

.logo-circle {
  margin-top: 1rem;
  margin-left: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  /* background-color: #f2f0f6; */
}

#logo p {
  font-family: "josefin sans";
  font-size: 1.5rem;
}



/* NAV-TABS */
.header .nav-tabs {
  position: relative;
  top: 0;

  display: flex;

  list-style: none;

  margin-top: 2rem;
  margin-right: 2rem;

  /*
  padding: 1rem;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur( 9px );
  -webkit-backdrop-filter: blur( 9px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  */
              
}

.header .nav-tabs a {
  position: relative;
  top: 0;

  text-decoration: none;
  color: black;
  font-family: "josefin sans";

  margin-inline-end: 1em;

}

.header .nav-tabs .nav-link {
  margin-inline-end: 1em;
}

.header .nav-tabs a > span {
  font-weight: 700;
  margin-inline-end: 0.2em;
}

.header .nav-tabs a:hover {
  color: rgb(110, 0, 0);;
}

.header .nav-tabs a.selected {
    color: rgb(160, 0, 0);
}


/* dropdown menu */
.dropdown  {
  display: none; /* none */
  flex-direction: column;
  justify-content: space-between;

  padding-top: 1.25rem;

  z-index: 1000;

  position: absolute;
  top: 1rem;
}

.dropdown a {
  padding: 0.25rem 0;
}

.nav-link:hover .dropdown {
  display: flex;
}



/* ----------------- */
/*   toggle-button   */
/* ----------------- */
.header .toggle-button {
    position: absolute;
    top: 2em;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 1.5rem;
    height: 1rem;
    z-index: 1000;
}

.header .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}


/* ----------------- */
/*    NAV MOBILE     */
/* ----------------- */
@media (max-width: 40em) {
    .header .toggle-button {
        display: flex;
    }

    .header .nav-tabs {
        display: none;
        
        position: sticky;
        top: 1rem;
        right: 2rem;

        flex-direction: column;
        padding-top: min(25vh, 5em);
        padding-left: 2em;
        padding-bottom: min(40vh, 15em);

        background-color: #e9e7ee;
    }

    .header .nav-tabs.active {
        display: flex;
        transition: 340ms;
        justify-content: space-evenly;

        padding: 2rem;

        height: 100%;
        width: 10rem;
    }

    .nav-link:hover .dropdown {
      background-color: #e9e7ee;
      position: relative;
      top: 0.25rem;

      margin: 0 0.25rem 0.5rem 0.25rem;

      transform: 400ms;
    }

    .header .toggle-button.selected{
      /* animation or design for whent the button is clicked */
    }

    .frontpage {
        z-index: -1;
      }
}



/* ----------------- */
/*      FOOTER      */
/* ----------------- */
footer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  margin: 1rem;
}

.footer-grid {
    display: flex;
    justify-content: center;
    justify-content: space-around;

    margin: 2rem 5rem;

    width: 100%;

    /* border: green 1px solid; */

    border-top: rgb(100,100,100) 1px solid;
}

.footer-grid .section {
  color: black;
  padding: 2em;
  text-align: left;
  width: minmax(auto-fit, 10rem);

  margin: 2rem;

  /* border: blue 1px solid; */
}

.footer-grid .section h4 {
    color: black;
    font-size: 20px;
    font-family: "Josefin sans";
}

.footer-grid .section h5 {
    color: black;
    font-size: 18px;
    font-family: "Josefin sans";
}

.footer-grid .section {
  text-decoration: none;
  color: black;
  font-family: "Josefin sans";
}

.footer-grid .section p {
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
}

.footer-grid .section a {
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
}

.footer-grid .section a:hover {
    color: rgb(110, 0, 0);
}

/* Social media share buttons */
.frame {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  height: 3rem;
  width: 100%;

  position: relative;

  /* border: red 1px solid; */
}

.btn {
  height: 2rem;
  width: 2rem;
  border-radius: 3px;

  margin: 0.5rem;
  padding: 0.25rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001,
        inset 0px 0px 0px 0px #fff9,
        inset 0px 0px 0px 0px #0001,
        inset 0px 0px 0px 0px #fff9,        inset 0px 0px 0px 0px #0001;
  transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
  font-size: 16px;
  color: rgba(42, 52, 84, 1);
  text-decoration: none;
}

.btn:active{
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
}


/*  footer mobile  */
@media (max-width: 55rem) {
    .footer-grid {
        flex-direction: column; 
    }

    .footer-grid .section {
      text-align: center;
      justify-items: center;
  }

  /*
  .frame {
    margin-left: 2rem;
    width: 100%;
  }

  .frame .btn {
    padding: 0.25rem;
  }
  */
}






